/* css styles */

a {
    text-decoration:none; 
}

ul > li > ul {
  margin-bottom: 0px;
}

ul > li > ul > li > ul {
  margin-bottom: 0px;
}

ol > li > ol {
  margin-bottom: 0px;
}

ol > li > ul {
  margin-bottom: 0px;
}

figure figcaption {
  text-align: center;
}

p {
  line-height: 2em;
}